<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=RyQA5rLO48">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=RyQA5rLO48">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=RyQA5rLO48">
    <link rel="manifest" href="{{ site.github.url }}/assets/site.webmanifest?v=RyQA5rLO48">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=RyQA5rLO48" color="#006900">
    <link rel="shortcut icon" href="/favicon.ico?v=RyQA5rLO48">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="theme-color" content="#006900">
    <script src="//cdnjs.cloudflare.com/ajax/libs/Snowstorm/20131208/snowstorm-min.js"></script>
    <script>
      snowStorm.excludeMobile = true;
      snowStorm.snowColor = '#0ff'; //give the snowflakes another colour
      snowStorm.flakesMaxActive = 2019; //the maximum number of active snow flakes on the screen, lowering this may increase performance
      snowStorm.followMouse = false; //the snow will fall in a certain direction based on the position of your mouse
      snowStorm.snowCharacter = '*'; //★ change the flake to a specific character
      snowStorm.snowStick = true; //if true, the snow will stick to the bottom of the screen
      snowStorm.animationInterval = 40; //milliseconds per frame, the higher the less CPU load
      snowStorm.flakesMaxActive = 1010; //maximum number of active snow flakes, the lower the less CPU/GPU is needed to draw them
      snowStorm.freezeOnBlur = true; //recommended: stops the snow effect when the user switches to another tab or window
      snowStorm.usePositionFixed = true; //if the user scrolls, the snow is not affected by the window scroll. Disable to prevent extra CPU load
    </script>
    {% seo %}
  </head>

  <body>
    <header>
      <div class="container">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <hr />
        <nav>
          <ul class="navbar">
            <li class="navbar"><a href="/">Home</a></li>
            <li class="navbar"><a href="/about">About Me</a></li>
            <li class="navbar"><a href="/contact">Contact Me</a></li>
            <li class="navbar"><a href="/projects">Projects</a></li>
          </ul>
        </nav>
        <hr />
      </div>
    </header>
    <div class="container">
      <section id="main_content" style="text-align:center">
        {{ content }}
      </section>
    </div>
  </body>
  <script src="/assets/js/collapsible.js"></script>
</html>
